In [2]:
import pandas as pd
import numpy as np

In [39]:
train_history = pd.read_csv("raw_data/train/power_forecast_history.csv")
train_power=pd.read_csv("raw_data/train/power.csv")
train_history['power']=train_power['power']
stub=pd.read_csv("raw_data/train/stub_info.csv")
train_df=pd.merge(train_history,stub,on='id_encode',how='left')
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_df['h3'] = le.fit_transform(train_df['h3'])
train_df['flag'] = train_df['flag'].replace({'A':1,'B':2})
train_df['tag'] = 'train'
print(len(train_df))
print(train_df.info())
train_df.head()
# test_history=pd.read_csv("初赛1008\\test_power_forecast_history.csv")
# test_df=pd.merge(test_history,stub,on='id_encode',how='left')
# test_df.to_csv("初赛1008\\test_df.csv",index=None)

3566384
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3566384 entries, 0 to 3566383
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   id_encode        int64
 1   hour             float64
 2   ele_price        float64
 3   ser_price        float64
 4   after_ser_price  float64
 5   total_price      float64
 6   f1               float64
 7   f2               float64
 8   f3               float64
 9   ds               int64
 10  power            float64
 11  parking_free     float64
 12  flag             int64
 13  h3               int32
 14  ac_equipment_kw  float64
 15  dc_equipment_kw  float64
 16  tag              object
dtypes: float64(12), int32(1), int64(3), object(1)
memory usage: 476.2+ MB
None

,id_encode,hour,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,ds,power,parking_free,flag,h3,ac_equipment_kw,dc_equipment_kw,tag
0,0,0.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415,0.0,1.0,1,126,0.0,1440.0,train
1,0,1.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415,0.0,1.0,1,126,0.0,1440.0,train
2,0,2.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415,0.0,1.0,1,126,0.0,1440.0,train
3,0,3.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415,0.0,1.0,1,126,0.0,1440.0,train
4,0,4.0,0.64,0.95,0.31,1.59,0.0,0.0,1.0,20220415,0.0,1.0,1,126,0.0,1440.0,train

In [40]:
#重构数据，以天为单位
train_df = train_df.groupby(['id_encode','ds','tag']).agg({'ele_price':'mean','ser_price':'mean','after_ser_price':'mean',
                                                       'total_price':'mean','f1':'mean','f2':'mean','f3':'mean','parking_free':'mean',
                                                       'flag':'mean','h3':'mean','ac_equipment_kw':'mean','dc_equipment_kw':'mean','power':'sum'}).reset_index()
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149044 entries, 0 to 149043
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id_encode        149044 non-null  int64
 1   ds               149044 non-null  int64
 2   tag              149044 non-null  object
 3   ele_price        148580 non-null  float64
 4   ser_price        148580 non-null  float64
 5   after_ser_price  148580 non-null  float64
 6   total_price      148580 non-null  float64
 7   f1               142668 non-null  float64
 8   f2               142668 non-null  float64
 9   f3               128649 non-null  float64
 10  parking_free     149044 non-null  float64
 11  flag             149044 non-null  int64
 12  h3               149044 non-null  int32
 13  ac_equipment_kw  149044 non-null  float64
 14  dc_equipment_kw  149044 non-null  float64
 15  power            149044 non-null  float64
dtypes: float64(11), int32(1), int64(3), object(1)
memory usage: 17.6+ MB
None

,id_encode,ds,tag,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,parking_free,flag,h3,ac_equipment_kw,dc_equipment_kw,power
0,0,20220415,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2288.2240
1,0,20220416,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2398.5730
2,0,20220417,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2313.0330
3,0,20220418,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2095.3259
4,0,20220419,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,1834.3590

In [43]:
test_history=pd.read_csv("raw_data/test/power_forecast_history.csv")
test_df=pd.merge(test_history,stub,on='id_encode',how='left')
from sklearn.preprocessing import LabelEncoder
letest = LabelEncoder()
test_df['h3'] = letest.fit_transform(test_df['h3'])
test_df['flag'] = test_df['flag'].replace({'A':1,'B':2})
test_df['tag'] = 'test'
test_df.head()

 # test_df.to_csv("raw_data/train/test_df.csv",index=None)

,id_encode,hour,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,ds,parking_free,flag,h3,ac_equipment_kw,dc_equipment_kw,tag
0,0,0,0.6414,0.3086,0.3086,0.95,2,178.0,NaN,20230415,1.0,1,126,0.0,1440.0,test
1,0,1,0.6414,0.3086,0.3086,0.95,2,178.0,NaN,20230415,1.0,1,126,0.0,1440.0,test
2,0,2,0.6414,0.3086,0.3086,0.95,2,178.0,NaN,20230415,1.0,1,126,0.0,1440.0,test
3,0,3,0.6414,0.3086,0.3086,0.95,2,178.0,NaN,20230415,1.0,1,126,0.0,1440.0,test
4,0,4,0.6414,0.3086,0.3086,0.95,2,178.0,NaN,20230415,1.0,1,126,0.0,1440.0,test

In [44]:
test_df = test_df.groupby(['id_encode','ds','tag']).agg({'ele_price':'mean','ser_price':'mean','after_ser_price':'mean',
                                                       'total_price':'mean','f1':'mean','f2':'mean','f3':'mean','parking_free':'mean',
                                                       'flag':'mean','h3':'mean','ac_equipment_kw':'mean','dc_equipment_kw':'mean'}).reset_index()
print(test_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_encode        3500 non-null   int64
 1   ds               3500 non-null   int64
 2   tag              3500 non-null   object
 3   ele_price        3500 non-null   float64
 4   ser_price        3500 non-null   float64
 5   after_ser_price  3500 non-null   float64
 6   total_price      3500 non-null   float64
 7   f1               3500 non-null   int64
 8   f2               3500 non-null   float64
 9   f3               0 non-null      float64
 10  parking_free     3500 non-null   float64
 11  flag             3500 non-null   int64
 12  h3               3500 non-null   int32
 13  ac_equipment_kw  3500 non-null   float64
 14  dc_equipment_kw  3500 non-null   float64
dtypes: float64(9), int32(1), int64(4), object(1)
memory usage: 396.6+ KB
None

,id_encode,ds,tag,ele_price,ser_price,after_ser_price,total_price,f1,f2,f3,parking_free,flag,h3,ac_equipment_kw,dc_equipment_kw,power
0,0,20220415,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2288.2240
1,0,20220416,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2398.5730
2,0,20220417,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2313.0330
3,0,20220418,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,2095.3259
4,0,20220419,train,0.64,0.95,0.31,1.59,0.0,0.0,1.0,1.0,1,126,0.0,1440.0,1834.3590

In [45]:
total_df=pd.concat((train_df,test_df),axis=0)
# toal_df.drop(['ele_price','ser_price','after_ser_price','total_price'],axis=1,inplace=True)
total_df=total_df.sort_values(by=['id_encode', 'ds'], ascending=[True, True])
total_df.head()
total_df.to_csv('train_test_df.csv',index=False)